@use "../lib/mixins";
@use "../lib/colors" as color;

%btn {
  all: unset;
  padding: 1em 1.5em;
  border-radius: 3px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary {
  @extend %btn;
  @include mixins.bg-primary;

  &:hover {
    background-color: darken($color: color.$primary, $amount: 5%);
  }

  &:active {
    background-color: darken($color: color.$primary, $amount: 10%);
  }
}
